appdirs==1.4.4
aria2p==0.10.4
async-lru==1.0.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
idna==2.10
loguru==0.5.3
pyaes==1.6.1
pyasn1==0.4.8
PyExecJS==1.5.1
Pyrogram==1.1.13
PySocks==1.7.1
python-qbittorrent==0.4.2
qbittorrent==0.1.6
requests==2.25.1
rsa==4.7.2
six==1.15.0
toml==0.10.2
urllib3==1.26.2
win32-setctime==1.0.3

